.backToTop {
    position: fixed; 
    right: 25px;
    bottom: 110px;
    height: 30px;
    font-size: 3rem;
    z-index: 999;
}

/* From Uiverse.io by vinodjangid07 */ 
.backToTop-Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#20d557, #39fad7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
}

.arrow path {
    fill: white;
}

.backToTop-text {
    font-size: 0.8em;
    width: 100px;
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 43px;
    opacity: 0;
    transition-duration: .7s;
    font-weight: bolder;
}

.backToTop-Btn:hover .backToTop-text {
    opacity: 1;
    transition-duration: .7s;
}

.backToTop-Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}