.cart {
  padding: 70px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 110px;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  background-color: #68d391;
  border-radius: 5px;
  margin: 20px 0;
}

.cart-header-item-name{
  width: 30%;
  text-align: center;
}

.cart-header-item-count{
  width: 9.83%;
  text-align: center;
}

.cart-header-item-price{
  width: 9.83%;
  text-align: center;
}

.cart-header-item-total-price{
  width: 9.83%;
  text-align: center;
}

.cart-header-item-action{
  width: 44.5%;
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: none;
}

.cart-item-info-actions{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
}

.cart-item-img-name {
  display: flex;
  align-items: center;
  width: 40%;
  padding-left: 8px;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.cart-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  width: 40%;
  padding-left: 50px;
  padding-right: 30px;
}

.item-name {
  font-size: 1.2em;
  font-weight: bold;
}

.item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.add-remove-item {
  padding: 5px 10px;
  border: none;
  /* background-color: #007bff; */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
}

.add-remove-item:hover {
  background-color: #0056b3;
}

.delete-item {
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  height: fit-content;
}

.delete-item:hover {
  background-color: #0056b3;
}


.empty-cart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.back-button {
  background-color: white;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 1rem;
  position: relative;
  font-family: sans-serif;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 4px;
}

.back-button-background {
  background-color: #68d391;
  border-radius: 0.75rem;
  height: 25px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0.25rem;
  top: 0.07rem;
  transition: width 0.5s ease;
  z-index: 10;
}

.back-button:hover .back-button-background {
  width: 8.7rem;
}

.back-button-text {
  padding-left: 15px;
  padding-top: 2px;
  transform: translateX(0.5rem);
}

.back-clear-cart-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.delete-items-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: rgb(255, 135, 65);
  background: linear-gradient(
    250deg,
    rgba(255, 135, 65, 1) 15%,
    rgba(255, 65, 65, 1) 65%
  );
}

.delete-icon{
  width: 60px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-icon svg {
  width: 17px;
}

.delete-icon svg path {
  fill: white;
}
/* text */
.delete-items-button-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.delete-items-button:hover {
  width: 170px;
  border-radius: 40px;
  transition-duration: 0.2s;
}

.delete-items-button:hover .delete-icon {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 17px;
}
/* hover effect button's text */
.delete-items-button:hover .delete-items-button-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.delete-items-button:active {
  transform: translate(2px, 2px);
}




.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.confirmation-content h4{
  line-height: 1.2;
}

.confirmation-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.confirm-button {
  background-color: #ff5e57;
  color: white;
}

.confirm-button:hover {
  background-color: #ff3333;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.cancel-button:hover {
  background-color: #999;
}

.checkout-section {
  margin-top: 20px;
  text-align: right;
  margin-top: 70px;
  margin-right: 10px;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #218838;
}

.checkout-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.option-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

.close-btn-cart {
  position: absolute;
  margin-left: 120px;
  margin-top: -12px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}